html {background: #E6E6E6;}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
#main {background: white;}
img {border:none;}

.successmsg {
  background-color: #BFDFBF;
  margin: 10px 0px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.errormsg {
  background-color: #ff9494;
  margin: 10px 0px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.text_center{text-align:center;}
#mainMenu {list-style:none; float:left; font-family: 'Cuprum', arial, serif; margin-left:auto; margin-right:auto;}
#mainMenu li {float:left; border-right:1px solid #dcddde;}
#mainMenu a {
    color:#282434;
    display:inline-block;
    margin-top:-50px;
    padding:10px 24px 10px 27px;
    border-right:1px solid #fff;
    font-size:13px;
    font-weight:bold;
}
#mainMenu a.first:hover {
    -moz-border-radius-topleft:6px;
    -webkit-border-top-left-radius:6px;
    border-top-left-radius: 6px;
} 
#mainMenu a:hover {
    background-color:#dde0e4;
    background: -moz-linear-gradient(100% 100% 90deg,  #ffffff, #dde0e4);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dde0e4), to(#ffffff));	    	 
}
#mainMenu a:active {
    background-color:#f3f4f6;
    background: -moz-linear-gradient(100% 100% 90deg,  #dde0e4, #ffffff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#dde0e4));
}
#accountBox {margin-left:24px;}
#accountBox a { color: #416A93; font-size:11px; padding:0px;}
.small{font-size:0.75em;}
