html {background: #E6E6E6;}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
#main {background: white;}
img {border:none;}
.small {font-size: 0.7em;}

.successmsg {
    background-color: #BFDFBF;
    margin: 0px;
    margin-bottom: 20px;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family:"Courier New", Courier, monospace;
    font-stretch:extra-condensed;
    font-size:18px;
}

.errormsg {
    background-color: #ff9494;
    margin: 0px;
    margin-bottom: 20px;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family:"Courier New", Courier, monospace;
    font-stretch:extra-condensed;
    font-size:18px;
}
.text_center{text-align:center;}

.menubg{
    background-color:#6FA9C7;
    padding-top:1px;
    padding-bottom: 1px;
    width:95%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: auto;
}
.menu{font:bold 13px Helvetica, Arial, sans-serif;}
.menu li {
    margin:0px;
    list-style:none;
    margin-left: -32px;
    margin-right: 10px;
}
.menu a, .menu a:visited {
    display:block;
    color:#cbe7f5;
    text-decoration:none;
    background-color: #5697bd;
    padding-top: 6px;
    margin-right:10px;
    height:22px;
    margin-bottom: 4px;
}
.menu a:hover, .menu a:active,
.menu li.current_page_item a, .menu li.current_page_item a:visited  {
    background:#3d7ca7;
    text-decoration:none;
}	
.padding_menu { padding-left: 8px; }

#login .login { background:#fff; width:100%; }
#login label { font-size: 0.7em; }
#login legend { color:#0b77b7; font-size:1em; }
#login input {
    width:100%;
    border:1px solid #ddd;
    background:#fafafa;
    font:0.8em arial, sans-serif;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}
#login input:hover, #login input:focus { border-color:#c5c5c5; background:#f6f6f6;} 
#login fieldset { border:1px solid #ddd; padding:0 0.5em 0.5em; }
#login .submit, #login .submit:hover {
    width: auto;
    padding: 4px 7px;
    background: #3d7ca7;
    border: 0;
    font-size: 0.8em;
    color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#login a { font-size: 0.7em; text-decoration: none; color:black; }

#articleTable h3 {margin-bottom: 0px; margin-top:0px;}
#articleTable .date {color:#a3a3a3; font-size: 0.8em;}